@import "tailwindcss";

:root {
  --background: #0d1117;
  --foreground: #e6edf3;

  --card: #161b22;
  --border: #30363d;

  --muted: #8b949e;

  --blue: #58a6ff;
  --green: #7ee787;
  --yellow: #d29922;
  --red: #ff7b72;
  --purple: #d2a8ff;
  --orange: #ffa657;
}

* {
  box-sizing: border-box;
}

html {
  background: var(--background);
}

body {
  margin: 0;
  min-height: 100vh;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

button,
input,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

::selection {
  background: #264f78;
  color: #ffffff;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0d1117;
}

::-webkit-scrollbar-thumb {
  background: #30363d;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #484f58;
}

/* Code */

.code-block {
  background: #1e1e1e;
  color: #d4d4d4;
  border: 1px solid #30363d;
  border-radius: 8px;
  overflow-x: auto;
}

.code-block pre {
  margin: 0;
  padding: 20px;
  font-family:
    "Cascadia Code",
    "Fira Code",
    Consolas,
    Monaco,
    monospace;
  font-size: 14px;
  line-height: 1.7;
}